<div>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @team_deleted_message %>
        <p><%= @team_deleted_message %></p>
      <% end %>

      <% if !@user.teams.empty? %>
        <h2>Your teams: <%= @user.teams.length %></h2>

        <% @user.teams.each do |team| %>
          <li>
          <%= link_to "#{team.name.capitalize}", team_path(team.id) %>
          </li>
        <% end %>

      <% else %>
        <h3 align="center"><%= link_to "Start a team", new_user_team_path(current_user) %></h3>
      <% end %>

    </div>
  </div>

</div>
