<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h2>Current topics: <%= current_user.topics.length %></h2>

      <% current_user.topics.each do |topic| %>
        <li>
        <%= link_to "#{topic.name.capitalize}", topic_path(topic.id) %>
        </li>
      <% end %>

    </div>
  </div>
</div>
