<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1>Project: <%= @project.name.capitalize %></h1>
      <h3>Team member: <%= @team_member.user_id %></h3><br>

      <%= link_to "Remove from project", project_team_member_path(@project), method: :delete %>

      <br><br>

      <div style="width: 300px;margin:auto">
        <img style="width: 300px" src="https://images.pexels.com/photos/1282169/pexels-photo-1282169.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

    </div>
  </div>

</div>
