<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

    <h3 align="center">Hi <%= current_user.name.capitalize %>, what are you working on today?</h3>



    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/954599/pexels-photo-954599.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

    </div>
  </div>
</div>
