<div>
  <h1 align="center"><%= @user.name%>'s Profile</h1>
  <p align="center"><strong>Name:</strong> <%= @user.name%><p>
  <p align="center"><strong>Email:</strong> <%= @user.email%></p>
  <div style="width: 400px;margin:auto">
    <img style="width: 400px" src="https://images.pexels.com/photos/1307104/pexels-photo-1307104.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>
</div>
