<% if @success_message %>
  <p><%= @success_message %></p>
<% end %>

<% if @incomplete_message %>
  <p><%= @incomplete_message %></p>
<% end %>


<br><br>


<%= link_to "Create a team", new_team_path%>
