<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

    <% if !!current_user.admin == true %>
      <h2>Current teams: <%= current_user.projects.length %></h2>

      <% @current_projects.each do |proj| %>
        <li>
        <%= link_to "#{proj.name.capitalize}", admin_project_path(proj.id) %>
        </li>
      <% end %>

    <% else %>
      <h3 align="center"><%= link_to "Start a project", new_admin_project_path %></h3>
    <% end %>

    <br>

    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

    </div>
  </div>
</div>
