<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h2>Current projects: <%= current_user.projects.length %></h2>

      <% current_user.projects.each do |project| %>
        <li>
        <%= link_to "#{project.name.capitalize}", project_path(project.id) %>
        </li>
      <% end %>


    <br>

    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

    </div>
  </div>
</div>
