<div>
  <h1 align="center">New project</h1>
  <h2 align="center">Team: <%= @team.name.capitalize %></h2>
  <h4 align="center"><%= render 'form' %></h4>
  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/697055/pexels-photo-697055.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>
</div>
