<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1 align="center">Name: <%= @post.name %></h1>
      <h3 align="center">Comment: <%= @post.description %></h3>
      <h3 align="center">Topic: <%= link_to "#{@topic.name}",  edit_topic_path(@topic) %></h3>

    </div>
  </div>
</div>
