/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // .center-screen {
 //   display: flex;
 //   flex-direction: column;
 //   justify-content: center;
 //   align-items: center;
 //   text-align: center;
 //   min-height: 100vh;
 // }

 @import "bootstrap-sprockets";
 @import "bootstrap";


 // // simple_form helpers
 // @import "simple_form-bootstrap/simple_form-bootstrap";





 /* universal */

// @font-face {
//   font-family: 'icofonts';
//   src: url(/assets/icofonts.eot);
//   src: url(/assets/icofonts.eot?#iefix) format("embedded-opentype"),
//     url(/assets/icofonts.ttf) format("truetype"),
//     url(/assets/icofonts.woff) format("woff"),
//     url(/assets/icofonts.svg#icofonts) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

.wrapper {
   min-height: calc(100vh - 89px);
    // min-height: 100%;
    // display: grid;
    // grid-template-rows: auto 1fr auto;
}

.nav a {
    color: #5a5a5a;
    font-size:11px;
    font-weight:bold;
    padding-top:14px;
    padding-bottom:14px;
    padding-left  :10px;
    padding-right :10px;
    text-transform:uppercase;
}

// .jumbotron {
//   background: rgb(197, 212, 201);
//   /* This is for ie8 and below */
//   background: rgba(197, 212, 201, 0.5)
//   // background: none
//   // background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/9AGH465V7W.jpg);
//   // background-color: #17234E;
//   // margin-bottom: 0;
//   // min-height: 50%;
//   // background-repeat: no-repeat;
//   // background-position: center;
//   // -webkit-background-size: cover;
//   // background-size: cover;
//   // background-position: center
// }


html body {
  padding-top: 60px;

  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

  // padding: 0;
  // margin: 0;
  // background:url(https://cdn.stocksnap.io/img-thumbs/960w/9AGH465V7W.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  // background-image: url(asset_path('main_body.jpg'));
  // background-repeat: no-repeat, repeat;
  // background-attachment: fixed;
  // background-size: cover;
  font-size:16px;
  font-family: "Courier New", Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  display: block;

}

body.welcome{
  background-image: url(asset_path('welcome.jpg'));
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
}

body.home{
  background-image: url(asset_path('home.jpg'));
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
}

body.main{
  background-image: url(asset_path('main.jpg'));
  // height: 100vh;
  // width: 100%;
  // max-width: 100%;
  // // background-size: cover;
  // background-position: center center;
}

.jumbotron-main{
  background: rgb(162, 162, 162);
  //   /* This is for ie8 and below */
  background: rgba(162, 162, 162, 0.70);
  // height: 500px;
  font-family: 'Frank Ruhl Libre', serif;
}

.jumbotron-main h1 {
  color:#102523;
  font-size:48px;
  font-weight:bold;
}

.jumbotron-main p {
  color:#102523;
  // font-size:20px;
  font-weight:bold;
}

#home{
  // background-image: url('../img/jumbotron-bkg-2.jpg');
  margin-top: 50px;
  text-align: center;
}



#yourEmail{
  width: 350px;
}

// .form-inline div {
// display: inline-block;
//  }
//
// .error {
//   display: block;
//   text-align: center;
//   color:red;
// }
//
//
// .form-group {
//   &.was-validated {
//     &.is-invalid {
//       background-color: #ffe9e6;
//       label {
//         color: #dc3545;
//       }
//       .invalid-feedback {
//         display: block;
//       }
//     }
//   }
// }

// .jumbotron {
//   background: rgb(212, 231, 217);
//   //   /* This is for ie8 and below */
//   background: rgba(212, 231, 217, 0.65);
//   // height: 500px;
//   font-family: 'Frank Ruhl Libre', serif;
// }
//
// .jumbotron h1 {
// color:#3A4847;
// font-size:38px;
// font-weight:bold;
// }
//
// .jumbotron p {
//   color:#3A4847;
//   font-size:10px;
// }

@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}

// Pen Specific Styles
.jumbotron {
  background: rgb(212, 231, 217);
  //   //   /* This is for ie8 and below */
    background: rgba(212, 231, 217, 0.65);
  //   // height: 500px;
  font-family: 'Frank Ruhl Libre', serif;
	font-size: 16px;
	@media (min-width: 62em) {
		font-size: 20px;
	}
.jumbotron h1 {
// 	border-bottom: 4px solid #0275d8;
border-top: 1px solid #2E181A;;
border-bottom: 1px solid #2E181A;
}

.jumbotron p.lead {
	border-radius: 4px;
}

}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1.display1 {
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

// h1 { font-size: 2em; }
// h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}




#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

// footer {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   color: #777;
// }

footer
{
 	width:798px;
	border-top: 2px solid #2E181A;
	clear: both;
	padding: 5px 0 0 0;
	background-color: inherit;
	text-align: center;
	bottom:0;
	background-color: #E6D9BD;
	position:relative;
	height: 30px;
	margin: -30px auto 2px auto;
	z-index:30;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// /* notice_wrapper */
// #notice_wrapper {
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 999;
//   background: rgba(135, 216, 211, 0.85);
//   .alert, .error, .success, .notice, {
//     padding: 2.5rem 0;
//     text-align: center;
//     margin: 0;
//     font-size: 1.25rem;
//     font-weight: 700;
//     color: #FFFFFF;
//     letter-spacing: 1px;
//   }
// }
