<div>
  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">


      <% if !@projects.empty? %>
        <h2>Public Projects </h2>

        <% @projects.each do |f| %>
          <li>
          <%= link_to "#{f.name.gsub(/"|\[|\]/, '')}", f %>
          </li>
        <% end %>

      <% end %>

    </div>
  </div>

</div>
