<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if !!@topics %>
        <h1>Public topics </h1>

        <%= form_tag categories_path, method: :get do %>
          <%= select(:sort, "filters", options_from_collection_for_select(@categories, 'id', 'name'))%>
          <%= submit_tag "Sort" %>
        <% end %>

        <br><br>

        <% @topics.each do |topic| %>
          <li>
          <%= link_to "#{topic.name.gsub(/"|\[|\]/, '')}", topic %>
          </li>
        <% end %>

      <% end %>

      <br><br>

    </div>
  </div>

</div>
