<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">


      <h2>Industry: <%= @industry %></h2>

      <h3>Teams: </h3>







    </div>
  </div>

</div>
