<div class="center jumbotron">
  <h1>WildCraft Forager</h1>

  <h2>
    Wildcrafting is the practice of foraging for useful plants from their natural, wild habitat for edible or medicinal purposes.
  </h2>

  <%= link_to "Start WildCrafting", signup_path, class: "btn btn-lg btn-primary" %>

  <br><br>

  <div style="width: 400px;margin:auto">
    <img style="width: 400px" src="https://images.pexels.com/photos/1030845/pexels-photo-1030845.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>
</div>
