<div class="center jumbotron">
  <h1>WildCraft Forager</h1>

  <h2>
    Wildcrafting is the practice of foraging for useful plants from their natural, wild habitat for edible or medicinal purposes.
  </h2>

  <%= link_to "Start WildCrafting", signup_path, class: "btn btn-lg btn-primary" %>

  <br><br>

  <footer class="footer">
    <small>
      <a href="https://github.com/JulJen/wildcraft-forager-app">WildCraft Forager App</a>
      by <a href="https://www.linkedin.com/in/juliajen/">Julia Jen</a>
    </small>


    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Resources", reading_path %></li>
        <li><%= link_to "Contact", reading_path %></li>
      </ul>
    </nav>

  </footer>


</div>
