<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
      <h1 align="left">Project Manageable</h1>
      <li align="left"><%= link_to 'Sign in via Google!', '/auth/google_oauth2' %></li>
      <li align="left"><%= link_to 'Sign Up', signup_path %></li>
      <li align="left"><%= link_to 'Sign In via App', signin_path %></li>
    </div>
    <br><br>
  <div style="width: 728px;margin:auto">
    <img style="width: 728px" src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </div>
</div>
