<footer class="footer">
  <small>
    <a href="https://github.com/JulJen/wildcraft-forager-app">WildCraft Forager App</a>
    by <a href="https://www.linkedin.com/in/juliajen/">Julia Jen</a>
  </small>


  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Resources", reading_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>

</footer>
