<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">WildCraft Forager</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Sign In', signin_path %></li>
      <li><%= link_to 'Create an Account', signup_path %></li>
      <li><%= link_to 'Log In with Google', '/auth/google_oauth2' %><li>
    </ul>
  </div>
</nav>
